@import "../../scss/shared";

.registration-form {
  padding-inline: 1rem;
  max-width: 28.375rem;
  margin-inline: auto;

  .form {
    display: grid;
    place-items: center;
    gap: 1.875rem;
    padding-block: 1.625rem;

    &__fieldset {
      display: grid;
      width: 100%;
      gap: 0.875rem;

      label {
        display: grid;
        align-content: start;
        gap: 0.625rem;

        input {
          color: #000;
          height: 2.5rem;
          padding: 0.5rem;
          &:focus {
            outline-color: $clr-green-primary;
          }
        }
        // fix placeholder color
        input[type="date"]:invalid::-webkit-datetime-edit {
          color: #999;
        }
        input:focus.invalid {
          outline-color: $clr-red-primary;
        }
      }
    }

    &__errors-check-list {
      display: grid;
      color: #959595;
      font-size: 12px;
    }

    &__button {
      width: 100%;
    }
  }
}

@include media-tablet {
  .registration-form {
    padding-inline: 0;
    .form {
      padding-top: 2.5rem;
      &__fieldset {
        gap: 1.875rem;
      }
    }
  }
}

@include media-desktop {
  .registration-form {
    max-width: 51.5rem;
    .form {
      gap: 3.125rem;
      padding-top: 2.8125rem;
      padding-bottom: 2rem;
      &__fieldset {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.25rem;
      }
      &__button {
        max-width: 27.875rem;
      }
    }
  }
}
