@import "../../scss/shared";

.validation-error {
  color: #959595;
  font-size: 12px;

  span {
    display: inline-block;
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 100%;
    border: 3.5px solid #959595;
    margin-right: 0.625rem;
  }
  &--valid {
    color: $clr-green-primary;
    span {
      border-color: $clr-green-primary;
    }
  }
  &--invalid {
    color: $clr-red-primary;
    span {
      border-color: $clr-red-primary;
    }
  }
}
