@import "../../scss/shared";

.crypto-list {
  @include padpadding-inline;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2.125rem;
}

@include media-tablet {
  .crypto-list {
    gap: 1.125rem;
  }
}
