@import "../../scss/shared";

.footer {
  background-color: #000;

  &__trade-icon {
    width: 11.375rem;
    height: 3.625rem;
  }

  &__desktop,
  hr {
    display: none;
  }

  &__mobile {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1.5rem;
    padding-block: 3.875rem;
  }

  .navbar {
    font-size: 0.75rem;
    color: #888;

    &__list {
      display: flex;
      flex-wrap: wrap;
      place-items: center;
    }

    &__item {
      line-height: 1;
      transition: color 0.3s;

      &:not(:last-child) {
        padding-right: 0.375rem;
        margin-right: 0.375rem;
        border-right: 2px solid #888;
      }

      &:hover {
        color: #fff;
      }
    }
  }
}

@include media-tablet {
  .footer {
    &__mobile {
      flex-direction: row;
      justify-content: space-between;
      padding-block: 3.25rem;
    }
  }
}

@include media-desktop {
  .footer {
    &__desktop {
      display: flex;
      place-items: center;
      justify-content: space-between;
      padding-top: 3.25rem;
      padding-bottom: 2rem;
    }

    &__brands {
      display: flex;
      place-items: center;
      gap: 3.625rem;
    }

    &__social-icons {
      color: #888;
      font-size: 0.75rem;
      display: flex;
      place-items: center;
      gap: 0.875rem;
    }

    hr {
      display: block;
      border: 0;
      height: 1px;
      background-color: #444;
    }

    &__mobile {
      padding-top: 0.625rem;
      padding-bottom: 4rem;
    }
  }
}
