body {
  font-family: $font-roboto;
  font-size: 14px;
  color: #fff;
  background-color: #201d27;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  main {
    flex: 1 1 auto;

    & > * {
      margin: 0 auto;
    }
  }

  header,
  main,
  footer {
    padding-inline: 0.875rem;
  }
}

@media (min-width: 768px) {
  #root {
    header,
    main,
    footer {
      padding-inline: 1.875rem;
    }
  }
}
