$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);
$color-black-primary: hsl(207, 71%, 11%);
$color-grey: hsl(218, 12%, 49%);
$color-grey-primary: hsl(240, 2%, 57%);
$color-grey-light: hsl(240, 24%, 96%);
$color-red-primary: hsl(0, 82%, 52%);
$color-green-primary: hsl(120, 39%, 54%);
$color-blue-primary: hsl(208, 97%, 47%);
$color-blue-secondary: hsl(225, 71%, 38%);

$box-shadow-card:
  0px 1px 5px hsla(0, 0%, 0%, 0.2),
  0px 3px 4px hsla(0, 0%, 0%, 0.12),
  0px 2px 4px hsla(0, 0%, 0%, 0.14);
