@import "../../scss/shared";

.crypto-card {
  min-width: 14.75rem;
  line-height: 120%; /* 14.639px */
  padding: 1rem;
  border-radius: 0.8169rem;
  border: 1px solid rgba(167, 167, 167, 0.2);
  background-color: rgba(140, 140, 140, 0.1);

  &__head {
    display: flex;
    place-items: center;
    gap: 0.625rem;
  }

  &__icon {
    width: 2.125rem;
    height: 2.125rem;
  }

  &__abbr {
    font-size: 0.75rem;
    font-weight: 500;
  }

  &__name {
    color: #000;
    text-transform: uppercase;
    font-size: 0.5rem;
    font-weight: 500;
    padding: 0.125rem 0.5rem;
    border-radius: 0.25rem;
    background-color: #fff8d6;
  }

  hr {
    display: block;
    margin-top: 0.875rem;
    margin-bottom: 1.125rem;
    border: 0;
    height: 1px;
    background-color: #444;
  }

  &__price {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 120%; /* 20.913px */
    margin-bottom: 0.625rem;
  }

  &__change {
    color: #b1ffc2;
    font-size: 0.75rem;
    line-height: 120%; /* 14.639px */

    .svg-inline--fa {
      color: #444;
      font-size: 0.375rem;
      padding: 0.0938rem;
      margin-right: 0.375rem;
      border-radius: 100%;
      background-color: #b1ffc2;
    }
  }
}

@include media-tablet {
  .crypto-card {
    min-width: 13rem;
  }
}
